
*.class
*.log

# Maven/sbt output directory
target
dist

# Test database
lift_example

# Mac
*.DS_Store

# IntelliJ
.idea
.idea_modules

# Eclipse
.cache
.classpath
*.swp
.project
.settings
.target


# Vagrant
.vagrant
vagrant/.bashrc
vagrant/sbt-launch.jar

tmp
