.activity-stream {

  .sidemargin;
  
  .post-content {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px;
  
    max-width: 480px;
    margin: 20px;
    
    .footer {
      margin-top: 10px;
    }
  }
  
}

