.subheader-course {

  .course-navbar {

    padding: 5px 20px 5px 20px;
  
    background-color: #00aaee;
    background-image: url('/assets/images/sky.jpg');
    background-size: cover;
    color: white;
    border-bottom: 1px solid #e0e0e0;
    
    .cover-image {
      float: left;
      max-height: 40px;
      
      img {
        height: 50px;
        margin-right: 20px;
        }
    }
    
    h1 {
      font-weight: 200;
    }
    
    ul.course-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline;
        
        a {
          color: white;
        }
        a:focus {
          background-color: none;
          text-decoration: underline;
        }
        
        margin-right: @sidePadD;
      }
      
      li.pull-right {
        margin-right: 0;
        margin-left: @sidePadD;
      }
    }
  }
}
