@()


<div class="main-content-surround" ng-repeat="entry in viewing.Content.displaySeq" ng-class="{ hidden: entry.id != viewing.Content.display.id }">

  <!-- Loading notice in background -->
  <div class="loading-notice dont-print" ng-show="entry.kind == 'web page'">
    External content not displaying? Some sites don't like to be
    framed. Try using the <i class="icon-external-link"></i>
    Pop-out button in the toolbar to open it in a new tab.
  </div>
  
  <!-- Content is placed here by Javascript -->
  <div ng-controller="Impressory.Controllers.ViewContent.MainContent" class="content-container">
  
  <!--  <div im-viewing-content></div> -->
    <div ng-switch="entry.kind" >
      <div ng-switch-when="web page" >
        @kinds.webPage()
      </div>
      <div ng-switch-when="sequence">
        @kinds.contentSequence()
      </div>
      <div ng-switch-when="Google Slides">
        @kinds.googleSlides()
      </div>
      <div ng-switch-when="YouTube video">
        @kinds.youTubeVideo()
      </div>
      <div ng-switch-when="Markdown page">
        @kinds.markdownPage()
      </div>
      <div ng-switch-when="Multiple choice poll">
        @kinds.multipleChoicePoll()
      </div>
      <div ng-switch-default>      
        <div class="alert alert-error">
            Whoops, we seem to have an unrecognised kind of content
        </div>
      </div>
    </div>

  </div>
</div>

<div ng-show="viewing.Content.noContent">
  @kinds.noContent()
</div>

