@()

<div class="container" ng-controller="Impressory.Controllers.ViewContent.EditDetails">
  <div class="row">
    <div class="col-sm-6">
  
      <h3>Details</h3>
      <form class="form form-horizontal">
          <div class="form-group">
              <label class="col-sm-2 control-label">Content ID</label>
              <p class="col-sm-10 form-control-static">{{ entry.id }} <button ng-show="!showEmbedCode" class="btn btn-link" ng-click="showEmbedCode=true">embed...</button></label>
          </div>
          <div class="form-group" ng-show="showEmbedCode">
              <label class="col-sm-2 control-label">Embed code</label>
              <div class="col-sm-10">
                <textarea class="form-control" readonly>{{ embedCode }}</textarea>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input ng-model="entry.title" class="form-control" ng-show="viewing.Content.display.permissions.edit" class="ce_name" type="text" placeholder="Optional" />
                <p class="form-control-static" ng-hide="viewing.Content.display.permissions.edit">{{ entry.title || '(None)' }}</p>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Note</label>
              <div class="col-sm-10">
                <textarea ng-model="entry.note" class="form-control" class="form-control" type="text" placeholder="Optional" ng-show="viewing.Content.display.permissions.edit"></textarea>
                <p class="form-control-static" ng-hide="viewing.Content.display.permissions.edit">{{ entry.note || '(None)' }}</p>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-10">
                <ce-edit-tags entry="entry"></ce-edit-tags>
              </div>
          </div>
  
          <div ng-repeat="error in errors" class="col-sm-offset-2 col-sm-10 alert alert-error">
            {{ error }}
          </div>
  
          <div class="form-group">
            <label class="col-sm-2">&nbsp;</label>
            <div class="col-sm-10">
              <div>
                  <button type="button" class="btn" ng-click="panels.toggleEditDetails()">Close</button>
                  <button type="button" ng-show="viewing.Content.display.permissions.edit" class="btn btn-primary" ng-click="submit()">Save</button>
              </div>
            </div>          
          </div>        
      </form>
  
  
    </div>
    <div class="col-sm-6">
      <h3>Settings</h3>
      <ce-edit-settings entry="entry"></ce-edit-settings>
    </div>
  </div>
</div>