@()

<div class="edit-tags" ng-controller="Impressory.Controllers.ViewContent.EditDetails">
  <div class="">
    <div class="">
  
      <form class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Content ID</label>
              <div class="controls">
                <label class="entry-id">{{ entry.id }} <a ng-show="!showEmbedCode" ng-click="showEmbedCode=true">embed...</a></label>
              </div>
          </div>
          <div class="control-group" ng-show="showEmbedCode">
              <label class="control-label">Embed code</label>
              <div class="controls">
                <textarea readonly>{{ embedCode }}</textarea>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                <input ng-model="entry.title" ng-show="viewing.Content.display.permissions.edit" class="ce_name" type="text" placeholder="Optional" />
                <label class="entry-id" ng-hide="viewing.Content.display.permissions.edit">{{ entry.title || '(None)' }}</label>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Note</label>
              <div class="controls">
                <textarea ng-model="entry.note" class="ce_note" type="text" placeholder="Optional" ng-show="viewing.Content.display.permissions.edit"></textarea>
                <label class="entry-id" ng-hide="viewing.Content.display.permissions.edit">{{ entry.note || '(None)' }}</label>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Tags</label>
              <div class="controls">
                <ce-edit-tags entry="entry"></ce-edit-tags>
              </div>
          </div>
          <div class="control-group">
            <label class="control-label">Flags</label>
            <div class="controls">
              <div class="flags">
                <label class="checkbox"><input type="checkbox" ng-model="entry.settings.inTrash" class="in-trash" ng-disabled="!viewing.Content.display.permissions.edit" /> In trash</label>
                <label class="checkbox"><input type="checkbox" ng-model="entry.settings.showFirst" class="show-first" ng-disabled="!viewing.Content.display.permissions.edit" /> Show first</label>
                <label class="checkbox"><input type="checkbox" ng-model="entry.settings.protect" class="protect" ng-disabled="!viewing.Content.display.permissions.edit" /> Protect</label>
              </div>
            </div>          
          </div>
  
          <div class="control-group">
            <label class="control-label">&nbsp;</label>
            <div class="controls">
            <div ng-repeat="error in errors" class="alert alert-error">
              {{ error }}
            </div>
            </div>          
          </div>        
  
          <div class="control-group">
            <label class="control-label">&nbsp;</label>
            <div class="controls">
              <div>
                  <button type="button" class="btn" ng-click="panels.toggleEditDetails()">Close</button>
                  <button type="button" ng-show="viewing.Content.display.permissions.edit" class="btn btn-primary" ng-click="submit()">Save</button>
              </div>
            </div>          
          </div>        
      </form>
  
  
    </div>
  </div>
</div>