@()

<div class="viewer-top-nav" ng-controller="Impressory.Controllers.ViewContent.TopNav">
  
  <div class="dont-print">
    <div ng-hide="panels.minimiseHeader">
      <header-front ></header-front>
      <subheader-course course="course" />
    </div>
    <div class="top-nav-menu">
    
      <ul class="bookNav">
        <li class="navli">
          <button title="Menu" class="command" ng-show="panels.minimiseHeader" ng-class="{ 'active': panels.top == 'menu' }" ng-click="panels.toggleTopMenu()">
            <b>|||</b>
          </button>
          <button title="Hide menu" class="command" ng-hide="panels.minimiseHeader" ng-click="panels.minimiseHeader = true">
            <i class="icon-resize-full"></i>
          </button>
        </li>
      </ul>
  
      <ul class="ceTools">
        <li class="navli">
          <button class="command require-edit" ng-class="{ 'active': panels.top == 'editDetails' }"
            title="Edit details and tags" ng-click="panels.toggleEditDetails()">
            <i class="icon-tags"></i>
          </button>
        </li>
        <li class="navli">
          <button class="command require-edit" ng-disabled="!viewing.Content.display.permissions.edit" ng-class="{ 'active': panels.top == 'editContent' }" ng-click="panels.toggleEditContent()"
            id="edit-button" title="Edit content">
            <i class="icon-edit"></i>
          </button></li>
        <li class="navli">
          <button class="command" ng-disabled="!viewing.Content.display.permissions.add" ng-class="{ 'active': panels.top == 'addContent' }" ng-click="panels.toggleAddContent()">
            <i class="icon-plus"></i>
          </button>
        </li>
      </ul>
  
      <div id="ceInfo" class="ceInfo">
  
        <entry-vote entry="viewing.Content.display"></entry-vote> 
        <span class="title">{{ viewing.Content.display.title || '(Untitled)' }}</span>
        <span class="spacer"></span> 
        <span>
          <button class="command require-chat" ng-class="{ 'active': panels.top == 'comments' }" 
                  title="Comments" ng-click="panels.toggleComments();">
            <span >{{ viewing.Content.display.commentCount || 0 }}</span> <i class="icon-comments"></i>
          </button>
        </span> 
        <span class="spacer"></span> 
        <span class="tags"> 
          <span class="adjs">
            <span ng-repeat="adj in viewing.Content.display.tags.adjectives" class="adj">{{ adj }}</span> 
          </span> 
          <span class="nouns">
            <span ng-repeat="noun in viewing.Content.display.tags.nouns" class="noun">{{ noun }}</span>           
          </span> 
          <span class="preposition">about</span> 
          <span class="topics"> 
            <button ng-repeat="topic in viewing.Content.display.tags.topics" ng-class="{ 'active': (panels.top == 'contentForTopic') && (searchTopic == topic) }" ng-click="panels.toggleContentForTopic(topic)" class="topic command">{{ topic }}</button> 
          </span>
        </span>
  
      </div>
    </div>

    <!-- Stop the fixed content from overflowing the screen. Note that the switch still works off the TopNav controller -->
    <div class="overlay" ng-controller="Impressory.Controllers.Components.FillHeight">
      <div ng-switch="panels.top" ng-style="{ 'max-height': fillHeight, 'overflow-y': 'auto' }">
      
        <div ng-switch-when="menu" >
          <header-front ></header-front>
          <subheader-course course="course" />
        </div>
        <div ng-switch-when="addContent" >
          @views.html.partials.addcontent.addContent()
        </div>
        <div ng-switch-when="slideSorter" >
          @snipSlideSorter()
        </div>
        <div ng-switch-when="editDetails" >
          @snipEditDetails()
        </div>
        <div ng-switch-when="comments" >
          @views.html.partials.components.snipEntryComments()
        </div>
        <div ng-switch-when="contentForTopic" >
          @snipContentForTopic()
        </div>
        <div ng-switch-when="editContent" >
          @snipEditContent()
        </div>
      
      </div>
    </div>

  </div>
  
  
 

</div>