@()

@headerFront()

<div class="front-page">

  <div class="about-banner">
    <div class="sidemargin" style="text-align: center">
      <div class="brand">Impressory</div>
      <p class="subbrand">Interactive teaching for large classes made simple.</p><p class="subbrand">On-line and in-class.</p>
    </div>
  </div>
</div>

<div class="sidemargin" style="margin-top: 20px">
  
  <div style="text-align: center">
  
    <p style="font-weight: 100px; font-size: 24px; line-height: 36px;">(Even the promo video is simple)</p>
  
    <iframe width="620" height="375" src="http://www.youtube.com/embed/WK7vqHKSyC4?rel=0" frameborder="0" allowfullscreen></iframe>
  
  </div>


</div>