@headerFront()

<div class="container">
<div class="row-fluid">

<div class="span6">
	<h1>Log In</h1>
	  <div class="well" ng-controller="Impressory.Controllers.LogIn.LogInForm">
	    <form name="signup">
	      <label>Email address</label>
	      <input type="text" ng-model="user.email" />
	      <label>Password</label>
	      <input type="password" ng-model="user.password" />
	      <div>
	      <div ng-repeat="error in errors">
	        <div class="alert alert-error">{{ error }}</div>
	      </div>
	      <button class="btn btn-primary" ng-click="submit(user)">Log In</button>
	      </div>
	    </form>
	  </div>
</div>

<divc class="span6">
  <h1>or</h1>
  
  <div>
  <p><a href="/auth/twitter" target="_self"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter"/></a></p>
  </div>
</div>

</div>
</div>