<header-front></header-front>

<div class="container">
<div class="row">
	
	<div class="col-sm-6">
		<h1>Log In</h1>
		  <div class="well" ng-controller="Impressory.Controllers.LogIn.LogInForm">
		    <form name="signup" role="form" class="form">
		      <div class="form-group">
		        <label>Email address</label>
		        <input type="text" class="form-control" ng-model="user.email" />
		      </div>
		      <div class="form-group">
		        <label>Password</label>
		        <input type="password" class="form-control" ng-model="user.password" />
		      </div>
		      <div ng-repeat="error in errors">
		        <div class="alert alert-danger">{{ error }}</div>
		      </div>
		      <div class="form-group">
		        <button class="btn btn-primary" ng-click="submit(user)">Log In</button>
		      </div>
		    </form>
		  </div>
	</div>
	
	<div class="col-sm-6">
	  <h1>or</h1>
	  
	  <div>
	    <p>
	      <form action="/oauth/twitter" method="POST">
	        <button class="btn btn-default" type="submit"><i class="icon-twitter"></i> Sign in with <b>Twitter</b></button>
	      </form>
	    <p>
        <form action="/oauth/github" method="POST">
	        <button class="btn btn-default" type="submit"><i class="icon-github"></i> Sign in with <b>GitHub</b></button>
        </form>
	    </p>
	  </div>
	</div>

</div>
</div>