@() 

@headerFront()

<div class="front-page">

  <div class="about-banner">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <div class="news">
            <h3>We're in alpha...</h3>
            <p>This software is experimental, but we'd welcome early adopters who'd like to try it out. <a href="about">Find out more and get in touch!</a></a></p>
        <p>It's been used on 3 courses at The University of Queensland, and now we're looking for more.</p>
        </div>      
      </div>
      <div class="span8">
      
      <h2>We want to make interactive teaching easy, in-class and online</h2>
      <ul>
        <li>Whether you're starting your course afresh, whether you've got piles of content you don't want to rewrite</li>
        <li>Whether it's video, or pdf, or slide decks, or edited live in class</li>
        <li>Whether you're writing it, or the class is writing it, or you're reusing the web</li>     
      </ul>      
      </div>
    </div>
    </div>
  </div>

  <div class="bookRow" ng-controller="Impressory.Controllers.Front.MyCourses">
    <h2>My courses</h2>
    <div class="books">

      <span ng-repeat="course in courses">
        @course.snipMiniCourse()
      </span>

      <p class="noBooks" ng-show="!courses.length && login.user">You haven't registered with any courses yet.</p>
      <p class="noBooks" ng-show="!login.user">Log in to register for courses.</p>

    </div>
    <div>
      <div class="center">
        <a class="btn btn-primary" href="/createCourse">Create a new course </a>
      </div>
    </div>
  </div>

  <div class="bookRow" ng-controller="Impressory.Controllers.Front.ListedCourses">
    <h2>Publicly listed courses</h2>
    <div class="books">
    
      <span ng-repeat="course in courses">
        @course.snipMiniCourse()
      </span>

      <p class="noBooks" ng-show="!courses.length">
      Hmm, all the courses have chosen to be private so far.
      </p>

    </div>

  </div>
</div>