@()

<header-front></header-front>

<div class="container">

  <div>
    <div ng-controller="Impressory.Controllers.Self">
      <h2>About you <br/><small>(I mean apart from how charming and handsome and wonderful you are)</small></h2>
      
      <div class="alert alert-warning" ng-hide="login.user">You're not logged in.</div>
      
      <div class="row" ng-show="login.user">
      
        <div class="col-sm-6">
	        <div ng-switch on="editing.details">
		        <div ng-switch-default>
		
		          <h3>Details          
		            <span class="btn-group pull-right"><button class="btn btn-sm btn-primary" ng-click="editDetails()" disabled>Edit</button></span>
		          </h3>
				                    
              <div class="media">
                <img class="pull-left media-object" ng-src="{{login.user.avatar || 'http://placehold.it/64x64'}}" /> 
                <div class="media-body">
				          <table class="table">
		              <tr><td>Nickname</td><td>{{login.user.nickname}}</td></tr>
				          <tr><td>Name</td><td>{{login.user.name}}</td></tr>
				          </table>              
	              </div>
	            </div>
		        </div>
            <div ng-switch-when="true">
              <h3>Details</h3>
              
              <form class="form" ng-controller="Awarinator.Controllers.SelfEditDetailsCtrl">
                <div class="form-group">
                  <label><img ng-src="{{user.avatar || 'http://placehold.it/64x64'}}" /></label>
                  <div class="controls">
                    <select ng-model="user.avatar" ng-options="i.avatar as i.service for i in user.identities" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Nickname</label>
                  <div class="controls">
                    <input type="text" ng-model="user.nickname" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <div class="controls">
                    <input type="text" ng-model="user.name" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="controls">
                    <button class="btn" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="save(user)">Save</button>
                  </div>
                </div>
              
              </form>

            </div>
	        </div>
    
          <div ng-switch on="editing.email">
            <div ng-switch-when="true">
              <h3>Login</h3>
              
              <form class="form" ng-controller="Awarinator.Controllers.SelfEditEmailCtrl">
                <div class="control-group">
                  <label class="control-label">Email</label>
                  <div class="controls">
                    <input type="text" ng-model="user.email" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Username</label>
                  <div class="controls">
                    <input type="text" ng-model="user.username" />
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button class="btn" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="save(user)">Save</button>
                  </div>
                </div>
              
              </form>

            </div>
            <div ng-switch-default>
                
              <h3>Login
                <span class="btn-group pull-right"><button class="btn btn-sm btn-primary" ng-click="editing.email=true">Edit</button></span>
              </h3>
	
              <table class="table">
	              <tr><td>Email</td><td>{{login.user.email}}</td></tr>
	              <tr><td>Username</td><td>{{login.user.username}}</td></tr>
	              <tr><td>Password</td><td>{{(login.user.passSet && "set") || "not set"}} <button class="btn btn-sm btn-danger pull-right">Change</button></td></tr>
              </table>              
            </div>
          </div>    
    
        </div>
        
	      <div class="col-sm-6">
	      
	        <h3>Your identities</h3>
	        <p>Other accounts you can log on with rather than your email and password</p>
	        
	        
	        <table class="table">
	        <tr ng-repeat="identity in login.user.identities">
	        <td><image ng-src="{{identity.avatar}}"</td>
	        <td style="text-align: center">{{identity.service}}</td>
	        <td style="text-align: right"><button class="btn btn-xs btn-danger" ng-click="removeIdentity(identity)"><i class="icon-remove"></i></button>
	        </tr>
	        </table>
	        
	        <div class="btn-group">
	          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
	          Add <span class="caret"></span>
	          </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
              <li><a href="/auth/addTwitter" target="_self"><i class="icon-twitter"></i> Twitter</a></li>
              <li><a href="/auth/github" target="_self"><i class="icon-github"></i> GitHub</a></li>
            </ul>
	        </div>
	      
	      </div>
            
      </div>
    </div>
    
  </div>
    
</div>
