<header-front></header-front>

<div class="container">
<div class="row">

  <div class="col-sm-6">
    <h1>Sign up here!</h1>
    <div class="well" ng-controller="Impressory.Controllers.LogIn.SignUp">
	    <form name="signup" role="form">
	      <div class="form-group">
	        <label>Email address</label>
	        <input type="text" class="form-control" ng-model="user.email" required />
	      </div>
	      <div class="form-group">
	        <label>Password</label>
	        <input type="password" class="form-control" ng-model="user.password" required />
	      </div>
	      <div ng-repeat="error in errors">
	        <div class="alert alert-danger">{{ error }}</div>
	      </div>
	      <div class="form-group">
	        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
	        <button class="btn btn-primary" ng-click="submit(user)">Sign Up</button>
	      </div>
	    </form>
    </div>
  </div>
	  
  <div class="col-sm-6">
    <h1>or</h1>

    <div ng-controller="Impressory.Controllers.LogIn.LogInForm">
      <p>
      <form action="/oauth/twitter" ng-show="loginServiceEnabled('Twitter')" method="POST">
          <button class="btn btn-default" type="submit"><i class="icon-twitter"></i> Sign in with <b>Twitter</b></button>
      </form>
      </p>
      <p>
      <form action="/oauth/google"  ng-show="loginServiceEnabled('Google Plus')" method="POST">
          <button class="btn btn-default" type="submit"><i class="icon-google-plus"></i> Sign in with <b>Google</b></button>
      </form>
      </p>
      <p>
      <form action="/oauth/github"  ng-show="loginServiceEnabled('Github')" method="POST">
          <button class="btn btn-default" type="submit"><i class="icon-github"></i> Sign in with <b>GitHub</b></button>
      </form>
      </p>
    </div>
  </div>
  
</div> 
</div>