@()

<div ng-controller="Impressory.Controllers.MCPoll.View" class="multiple-choice-poll">
  <!-- markdownService takes care of sanitization -->
  <div ng-controller="Impressory.Controllers.Components.FillHeight" >

  <ul class="nav nav-pills">
    <li ng-class="{ active: showing == 'options' }"><a href="#" ng-click="showing = 'options'">Vote</a></li>
    <li ng-class="{ active: showing == 'results' }"><a href="#" ng-click="showing = 'results'">Results</a></li>
    <li ng-class="{ active: showing == 'feedback' }"><a href="#" ng-click="showing = 'feedback'">Feedback</a></li>
  </ul>  
  
  <div class="pull-right">
    <button class="btn">Push to stream</button>
  </div>
  
  <div ng-bind-html-unsafe="madeHtml" class="question"></div>
  
  <div class="form-inline" ng-show="showing == 'options'">
    <ul>
      <li ng-repeat="option in entry.item.options">
        <label class="checkbox option">
          <input type="checkbox" ng-model="option.selected" ng-change="recountSelected()" ng-disabled="!option.selected && selected.length >= entry.item.pick"/> {{ option.option }}
        </label>
      </li>
    </ul>
    <p>
      (You may select {{ entry.item.pick }} options. You have selected {{ selected.length }} options.)
    </p>
    <button type="button" class="btn btn-primary" ng-click="vote()">Submit</button>
  </div>
  
  <div ng-show="showing == 'results'">
    <div ng-controller="Impressory.Controllers.MCPoll.Results">
      <ul>
        <div class="row-fluid" ng-repeat="option in entry.item.options">
          <div class="span6">{{ option.option }}</div>
          <div class="span1">{{ option.votes }}</div>
          <div class="span5">
            <div class="progress">
              <div class="bar" ng-style="{ 'width' : option.percent + '%' }"></div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
  
  <div ng-show="showing == 'feedback'">
    <table class="table"><tbody>
      <tr><th>Option</th><th>Score</th><th>Feedback</th></tr>
      <tr ng-repeat="option in entry.item.options">
        <td>{{ option.option }} </td>
        <td>{{ option.score }} </td>
        <td>{{ option.feedback }} </td>
      </tr>
    </tbody></table>
  
  </div>

  
</div>