@()

<div class="slide-sorter" ng-controller="Impressory.Controllers.EditContent.Sequence">

  <div class="slides">
  
    <div ng-repeat="entry in entry.item.entries track by $index" class="slide" >
        <div class="slide-number">{{ $index + 1 }}</div>
        <div class="name">{{ entry.title || ('Untitled' )}}</div>
        <div class="kind">{{ entry.kind }}</div>
    </div>
  
  </div>

  <div class="form-inline" >
    <label>Append an entry</label>
    <input type="text" ng-model="append.entryId" placeholder="entry id" />
    <button class="btn" ng-click="append(append.entryId)"><i class="icon-plus">Add to sequence</i></button>
  </div>

</div>
