@()

<div ng-controller="Impressory.Controllers.MarkdownPage.Edit" class="edit-markdown-page">
    <h4>Edit Markdown page</h4>
  
  <div>
    <ul class="nav nav-pills">
      <li ng-class="{ active: tab == 'text' }"><a href="#" ng-click="showEdit()">Text</a></li>
      <li ng-class="{ active: tab == 'preview' }"><a href="#" ng-click="showPreview()" >Preview</a></li>
    </ul>
  </div>

  <div ng-controller="Impressory.Controllers.Components.FillHeight" class="edit">
    <textarea ng-show="tab == 'text'" ng-model="entry.item.text" required="true" ng-style="{ 'height': fillHeight - 50 + 'px' }" ></textarea>
    <div ng-show="tab == 'preview'" ng-bind-html="preview" class="preview" ng-style="{ 'height': fillHeight - 50 + 'px' }" >
      
    </div>
  </div>
</div>
