@()

<div class="events-list" ng-controller="Impressory.Controllers.EventRoom.ViewEvents">

  <div ng-repeat="event in EventRoom.events | orderBy:'created':true">
    <div ng-switch="event.type">
      <div ng-switch-when="chat">
        <div class="event comment" ng-class="{ 'question' : isQuestion(event.text), 'answer' : isAnswer(event.text) }" >
          <div class="who">
            <user-tag user-id="{{ event.addedBy }}"></user-tag>
          </div>
          <div class="text" ng-bind-html="event.text | linky"></div>
          <div class="date">{{ event.created | date:'h:mma d MMM yy' }}</div>
        </div>
      </div>
      
      <div ng-switch-default>
        <div ng-include="partialUrl(event.type)"></div>
      </div>
      
    </div>
  
        
  </div>

</div>