@()

<div class="list-entries rows">
  <div ng-repeat="entry in entries" class="entry">
    <div class="row-fluid">
      <div class="span1">
        <span class="badge badge-warning score">{{ entry.voting.score || 0 }} pts</span>
        <span class="badge badge-info score">{{ entry.commentCount || 0 }} <i class="icon-comments"></i></span>
        <span class="badge badge-error" ng-show="entry.protect"><i class="icon-key"></i></span>
      </div>
      <div class="span2">
        <ce-show-tags entry="entry"></ce-show-tags>
      </div>
      <div class="span5">
        <div class="title"><a ng-href="viewContent?entryId={{entry.id}}">{{ entry.title || 'Untitled' }}</a></div>
        <div class="note">{{ entry.note }}</div>
        <div class="info">
          <div class="entry-id">{{ entry.id }}</div>
          <div>
            <span class="kind">{{ entry.kind }}</span> 
            <span class="site">at {{ entry.site }}</span>
          </div>
          <span class="updated">updated {{ entry.updated | date:'h:mma d MMM yy' }}</span>
        </div>          
      </div>
      <div class="span4">
        <div class="" ng-repeat="user in [ users.cache[entry.addedBy] ]">
          <div class="ab-label">added by</div>
          <div class="who">
            <div class="avatar"><img ng-src="{{ user.avatar || 'http://placehold.it/64x64' }}" alt="User's avatar"/></div>
            <div class="nickname">{{ user.nickname || 'Anonymous' }}</div>
          </div>
          <div class="created">{{ entry.created | date:'h:mma d MMM yy' }}</div>
        </div>
      </div>
    </div>
  </div>

</div>