
<div class="chat-form" ng-controller="Impressory.Controllers.EventRoom.ViewEvents">
  <div class="form" style="max-width: 240px">
    <div class="">    
      <textarea ng-model="message.text" name="content" class="form-control" placeholder="Say something"></textarea>
    </div>
    <div class="" style="text-align: center; margin-top: 5px;">
      <div class="">
        <span class="">
          <label class="checkbox-inline"><input type="checkbox" ng-model="message.anonymous" value="true" /> anonymously</label>
        </span>
        <span class="">
        <button type="button" class="btn btn-mini btn-primary" ng-click="postChatMessage()">Chat</button>
        </span>
      </div>
    </div>
  </div>
</div>
