@()

<div class="events-list" ng-controller="Impressory.Controllers.EventRoom.ViewEvents">

  <div ng-repeat="event in EventRoom.events | orderBy:'created':true" class="event">
    <div class="who" ng-repeat="user in [ Users.cache[event.addedBy] ]">
      <span class="avatar"><img ng-src="{{ user.avatar || 'http://placehold.it/64x64' }}" alt="User's avatar"/></span>
      <span class="nickname">{{ user.nickname || 'Anonymous' }}</span>
    </div>
    <div class="text">{{ event.text }}</div>
    <div class="date">{{ event.created | date:'h:mma d MMM yy' }}</div>    
  </div>

</div>