@()

<div class="list-entries columns">

  <div ng-repeat="entry in entries | orderBy:'created':true">
  
    <div class="entry" ng-show="applyFilter(entry)">
      
      <div class="header">
        <div class="" ng-repeat="user in [ users.cache[entry.addedBy] ]">
          <div class="who">
            <span class="pull-right created">{{ entry.created | date:'h:mma d MMM yy' }}</span>
            <span class="avatar"><img ng-src="{{ user.avatar || 'http://placehold.it/64x64' }}" alt="User's avatar"/></span>
            <span class="nickname">{{ user.nickname || 'Anonymous' }}</span>
            
          </div>
        </div>
      </div>

      <div class="body">    
        <h3 ng-show="entry.title"><a ng-href="{{viewPath(entry)}}">{{ entry.title || 'Untitled' }}</a></h3>
        <p>{{ entry.note }}</p>
        
      
        <ce-render-entry-stream entry="entry"></ce-render-entry-stream>
      
        <p style="margin-top: 5px;">
			<a ng-href="{{viewPath(entry)}}">Open in viewer</a>
		</p>	
      
      
        <div class="pull-right">
          <ce-show-tags entry="entry" on-adj-click="onTagClick(tag)" on-noun-click="onTagClick(tag)" on-topic-click="onTagClick(tag)" ></ce-show-tags>
        </div>
        
        
        <span style="border: 1px solid #eee; padding-bottom: 5px;">
          <entry-vote entry="entry"></entry-vote>
        </span>
    
        <button class="btn-link" ng-click="showComments=!showComments">{{ entry.commentCount }} <i class="icon-comments"></i></button>
      </div>
    
      <div class="footer" ng-show="showComments">
        <div class="comments">
          <div >
            @views.html.partials.components.snipEntryComments()        
          </div>
        </div>
      </div>

  </div>

</div>
</div>