@()

<div ng-controller="Impressory.Controllers.Components.EditTags" class="component-edit-tags">
  <div class="tags">
    <span class="adj" ng-repeat="adj in entry.adjectives">{{ adj }}<button ng-show="entry.permissions.edit" ng-click="deleteAdj(adj)" class="delete">&times;</button></span>
    <span class="noun" ng-repeat="noun in entry.nouns">{{ noun }}<button ng-show="entry.permissions.edit" ng-click="deleteNoun(noun)" class="delete">&times;</button></span>
    <span class="preposition">about</span>
    <span class="topic" ng-repeat="topic in entry.topics">{{ topic }}<button ng-show="entry.permissions.edit" ng-click="deleteTopic(topic)" class="delete">&times;</button></span>
  </div>
  <div ng-show="entry.permissions.edit" >
    <div >
        <input type="text" class="add-tag-inp" ng-model="toAdd" />
    </div>
    <div >
        <button ng-click="addAdj(toAdd)" class="btn adj"><i class="icon-plus"></i> Adjective</button>
        <button ng-click="addNoun(toAdd)" class="btn noun"><i class="icon-plus"></i> Noun</button>
        about
        <button ng-click="addTopic(toAdd)" class="btn topic"><i class="icon-plus"></i> Topic</button>
    </div>
  </div>
</div>
