@()

<header-front></header-front>

<div class="container">

  <div>
    <div>
      <h2>About you <br/><small>(I mean apart from how charming and handsome and wonderful you are)</small></h2>
      
      <div class="alert alert-warning" ng-hide="login.user">You're not logged in.</div>
      
      <div class="row" ng-show="login.user">
      
        <div class="col-sm-6">
          <h3>Details          
            <span class="btn-group pull-right"><button class="btn btn-sm btn-primary" ng-click="editDetails()" disabled>Edit</button></span>
          </h3>
          <div class="media">
            <img class="pull-left media-object" ng-src="{{login.user.avatar || 'http://placehold.it/64x64'}}" /> 
            <div class="media-body">
              <table class="table">
                <tr><td>Nickname</td><td>{{login.user.nickname}}</td></tr>
                <tr><td>Name</td><td>{{login.user.name}}</td></tr>
              </table>              
            </div>
          </div>
    
          <h3>Login
            <span class="btn-group pull-right"><button class="btn btn-sm btn-primary" ng-click="editing.email=true">Edit</button></span>
          </h3>

          <table class="table">
            <tr><td>Email</td><td>{{login.user.email}}</td></tr>
            <tr>
              <td>Password</td><td ng-hide="show.changePassword">{{(login.user.passSet && "set") || "not set"}} <button class="btn btn-xs btn-danger pull-right" ng-click="show.changePassword = true">Change</button></td>
              <td ng-if="show.changePassword"><user-change-password-form on-close="show.changePassword = false"></user-change-password-form></td>
            </tr>
          </table>              
        </div>
        
	      <div class="col-sm-6">
	      
	        <h3>Your identities</h3>
	        <p>Other accounts you can log on with rather than your email and password</p>
	        
	        
	        <table class="table">
	        <tr ng-repeat="identity in login.user.identities">
	        <td><image ng-src="{{identity.avatar}}"</td>
	        <td style="text-align: center">{{identity.service}}</td>
	        <td style="text-align: right"><button class="btn btn-xs btn-danger" ng-click="removeIdentity(identity)"><i class="icon-remove"></i></button>
	        </tr>
	        </table>
	        
	        <div class="btn-group">
	          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
	          Add <span class="caret"></span>
	          </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel" ng-controller="Impressory.Controllers.LogIn.LogInForm">
              <li>
                  <form action="/oauth/twitter" ng-show="loginServiceEnabled('Twitter')" method="POST">
                      <button class="btn btn-link" type="submit"><i class="icon-twitter"></i> <b>Twitter</b></button>
                  </form>
              </li>
              <li>
                  <form action="/oauth/google" ng-show="loginServiceEnabled('Google Plus')" method="POST">
                      <button class="btn btn-link" type="submit"><i class="icon-google-plus"></i> <b>Google</b></button>
                  </form>
              </li>
              <li>
                  <form action="/oauth/github" ng-show="loginServiceEnabled('Github')" method="POST">
                      <button class="btn btn-link" type="submit"><i class="icon-github"></i> <b>GitHub</b></button>
                  </form>
              </li>
            </ul>
	        </div>
	      
	      </div>
            
      </div>
    </div>
    
  </div>
    
</div>
