
.main-content-surround {
    height: 100%;
    
    /*
       Position the element so that contained 'absolute'
       elements will work
     */
    position: relative;
    left: 0px;

    .loading-notice {
        text-align: center;
        padding: 5px;

        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .no-content-notice {
        text-align: center;
        padding: 5px;
        height: 100%;
    }

    iframe {
      min-width: 100%;
      height: 100%;
      border: none;
    }

    .content-container {
        position: relative;
        top: 0px;
        min-height: 100%;
        height: 100%;
    }

}
