@() 

<header-front></header-front>
<subheader-course course="course"></subheader-course>

<div class="row-fluid" ng-controller="Impressory.Controllers.Components.FillHeight" >
<div class="span8" ng-style="{ height: fillHeight }" style="overflow: auto">

<div class="activity-stream" >

  <h2>Newsfeed</h2>
  
  <div class="post-content" ng-controller="Impressory.Controllers.AddContent.Share">
    <textarea ng-model="share.text" placeholder="Write something"></textarea>

    <ul class="nav nav-pills">
      <li ng-class="{ active: postMode=='post' }"><a href="#" ng-click="showPostMode()">News post</a></li>
      <li ng-class="{ active: postMode=='share' }"><a href="#" ng-click="showShareMode()">Share something</a></li>
    </ul>
  
    <div ng-switch="postMode">
      <div ng-switch-when="share" >
        <div class="form-inline" ng-hide="toAdd.item">
          <input ng-model="share.url" type="text" placeholder="Paste the URL or embed code" >
          <button class="btn btn-small" ng-click="whatIsIt(share.url)">Add</button>
        </div>
        <div ng-show="toAdd.item" class="thumbnail">
          <h4>{{ toAdd.title || "Untitled" }}</h4>
          <label>{{toAdd.kind}}</label>
          <button class="btn btn-small btn-danger" ng-click="remove()">Remove</button>
        </div>
      </div>
    </div>

    <p class="text-error" ng-repeat="error in errors">
      {{ error }}  
    </p>
    
    <div ng-show="okToSubmit()" class="footer">
      <button ng-click="reset()" class="btn" >Cancel</button>
      <button ng-click="submit()" class="btn btn-primary" >Share</button>
    </div>
  
  </div>  
  
  <div ng-show="publishedSinceRefresh > 0">
    <p class="alert alert-info">
      {{ publishedSinceRefresh }} new items have been published. <button class="btn-link" ng-click="refreshList()">Load new items</button>
    </p>
  </div>

  <list-entries entries="entries" view-mode="columns" />


</div>
</div>

<div class="span4"  style="border-left: 1px solid #fafafa; background-color: #fcfcfc; height: 100%;">
<div class="chat-room" ng-style="{ height: fillHeight }" style="overflow: auto">

  <div class="sidemargin" >

    <h2>Chat</h2>
    <p>&nbsp;</p>
  
  	<chat-form course-id="course.id"></chat-form>
    
    <p>&nbsp;</p>
  
    <chat-view-events course-id="course.id" ></chat-view-events>
  </div>

</div>
</div>

</div>
