@() 

<course-wrap-with-chat course="course">
<header-front></header-front>
<subheader-course course="course"></subheader-course>

<div class="activity-stream" >
<div class="container-fluid">

  <h2 class="sidemargin">Newsfeed</h2>
  
  <ce-add-content ng-show="course.permissions.add" course="course"></ce-add-content>
  
  <div ng-show="!course.permissions.add">
    <div class="alert" ng-hide="login.user">
    You'll need to <a href="/logIn">log in</a> to post or add content.
    </div>  
    
    <div class="alert" ng-show="login.user">
    You don't have permission to add content. Perhaps you need to enter an invite code on the <a ng-href="/course/{{course.id}}">cover page</a>?
    </div>  
  </div>

  <div ng-show="publishedSinceRefresh > 0">
    <p class="alert alert-info">
      {{ publishedSinceRefresh }} new items have been published. <button class="btn-link" ng-click="refreshList()">Load new items</button>
    </p>
  </div>

  <list-entries entries="entries" view-mode="columns" order-by="-settings.published"/>

</div>
</div>
</course-wrap-with-chat>

