@() @views.html.partials.headerFront() @subheadCourse()

<div class="activity-stream">

  <h2>Recently, on this course...</h2>

  <!--  div class="post-content">
    <ul class="nav nav-pills">
      <li ng-class="{ active: postMode=='post' }"><a href="#" ng-click="postMode='post'">News post</a></li>
      <li ng-class="{ active: postMode=='share' }"><a href="#" ng-click="postMode='share'">Share something</a></li>
    </ul>
  
    <div ng-switch="postMode">
      <div ng-switch-when="post">
        <textarea ng-model="post.text" placeholder="Write something"></textarea>
      </div>
      <div ng-switch-when="share">
        <input ng-model="share.url" type="text" placeholder="Paste the URL.">
        <input ng-model="share.title" type="text" placeholder="Title">
        <textarea ng-model="share.note" placeholder="Optional note"></textarea>
      </div>
    </div>
    
  
  </div>  -->

  <list-entries entries="entries" view-mode="columns" />

</div>