@() 

<header-front></header-front>

<div class="container" ng-controller="Impressory.Controllers.Course.Create">
  <h1>Create a course</h1>

  <form role="form">

    <div class="form-group">  
      <label>Title</label> 
      <input type="text" class="form-control" ng-model="course.coverMatter.title" />
    </div>
  
    <div class="form-group">  
      <label>Short description</label>
      <textarea type="text" class="form-control" ng-model="course.coverMatter.shortDescription"></textarea>
    </div>

    <div class="form-group">  
      <i>You can edit more details after we've created the course.</i>
    </div>
  
    <div ng-repeat="error in errors">
      <div class="alert alert-error">{{ error }}</div>
    </div>

    <div class="form-group">  
      <div>
        <a href="/" class="btn btn-default">Cancel</a>
        <button class="btn btn-primary" ng-click="save(course)">Create</button>
      </div>
    </div>
  
  </form>

</div>

