@() 

<header-front></header-front>
<subheader-course course="course"></subheader-course>

<div class="container" >
  
    <div class="alert alert-error" ng-repeat="error in errors">{{ error }}</div>
  
    <h3>Invites</h3>
    <p>
    Invites are one of the ways you can allow students and other staff to register for your
    course. Create the invite, give the code to whoever you want to register, and ask them to enter it in the orange
    box on the cover page.
    </p>

    <h4>Active invites for this course</h4>
    
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Code</th>
          <th>Roles</th>
          <th>Used</th>
          <th>Remaining</th>
        </tr>
      </thead>
      <tbody style="background-color: white;">
        <tr ng-repeat="invite in invites">
          <td>{{ invite.code }}</td>
          <td>
            <span ng-repeat="role in invite.roles">{{ role }}</span>
          </td>
          <td>{{ invite.used }}</td>
          <td>
            <span ng-show="invite.limitedNumber">{{ invite.remaining }}</span>
            <span ng-hide="invite.limitedNumber">Unlimited</span>
          </td>
        </tr>
      </tbody>
    </table>

    <h4>Create an invite</h4>
    <form class="form"><fieldset>      
      <div class="form-group">
        <label>Code</label>
        <input ng-model="newInvite.code" class="form-control" placeholder="(Auto-generate)" type="text" value="" />
      </div>
      
      <div class="form-group">
        <label>Roles this invite will grant</label>
        <div >
          @for(role <- _root_.com.impressory.api.CourseRole.values) {
          <label class="invites-inline-label checkbox-inline">
            <input type="checkbox" ng-model="newInvite.roles.@role" />
            @role &nbsp;
          </label>
          }
        </div>
      </div>
      
      <div class="form-group">
      <label>Number of uses</label>
        <div class="input-group">
          <span class="input-group-addon">
            <label class="checkbox-inline"><input type="checkbox" ng-model="newInvite.limitedNumber" /> limited to</label>
          </span>
          <input id="create-invite-number" type="number" class="form-control" ng-model="newInvite.remaining" ng-disabled="!newInvite.limitedNumber" placeholder="how many"/>
        </div>
      </div>
      
      <div class="form-group">      
        <button class="btn btn-primary" ng-click="create(newInvite)">Create</button>
      </div>
    </fieldset></form>  
  
</div>