@()

<div class="book">
  <div>
    <a ng-href="{{ '/course/' + course.id }}">
      <course-cover-logo course="course" show-default="true"></course-cover-logo>
    </a>
  </div>
  
  <div class="details">
    <span id="listEntryShortname">{{course.shortName}}</span><br>
    <span class="bookTitle">
      <a ng-href="{{ '/course/' + course.id }}" class="title">{{ course.title }}</a>
    </span>
    <div class="bookSummary">{{ course.shortDescription }}</div>
  </div>
  <div>
    <a class="title" ng-show="course.permissions.read" ng-href="/course/{{course.id}}/activity">(go to newsfeed)</a>
  </div>

</div>