@()

<div class="controls">
    <div class="basicActions" ng-show='course.permissions.read'>
        <h4>Read</h4>
        <ul>
            <li><a ng-href="/course/{{course.id}}/viewContent?topic=page one">Open to page One</a></li>
            <li><a ng-href="/course/{{course.id}}/index">Index</a></li>
        <li><a ng-href="/course/{{course.id}}/chatRoom">Chat stream</a></li>
        </ul>
    </div>

    <div class="adminActions" ng-show='course.permissions.edit'>
        <h4>Administer</h4>
        <ul>
            <li><a href="">Edit details</a></li>
            <li><a href="/course/{{course.id}}/invites">Manage invites</a></li>
        </ul>
    </div>


    <div class="yourRoles">
        <h4>Roles</h4>
        <p ng-hide="course.registration">You are not registered with this book.</p>
        
        <div ng-show='course.registration'>
          <p>You have the following roles on this book:</p>
          <ul>
              <li ng-repeat="role in course.registration.roles">{{role}}</li>
          </ul>
        </div>

        <div class="inviteForm">
            <h5>Use invite code</h5>
            <form class="form-inline">
                <input type="text" ng-model="invitePacket.code" placeholder="code" />
                <button type="button" ng-click="useInvite(invitePacket)" class="btn">Use</button>
            </form>
        </div>
    </div>



</div>