@()

<div class="subheader-course" >

  <div class="course-navbar">
    <div class="book-image">
      <img ng-src="{{ course.coverImageURL || 'http://placehold.it/100x150' }}" alt="cover image"/>
    </div>
    <div class="book-title">
      <h1>{{ course.title || 'Untitled Course' }}</h1>
    </div>
    <ul class="course-nav">
      <li><a ng-href='{{ "/course/" + course.id }}'>Cover &amp; membership</a></li>
      <li><a ng-href='{{ "/course/" + course.id + "/activity" }}'>Newsfeed</a></li>      
      <li><a ng-href='{{ "/course/" + course.id + "/view/lookup?topic=page one" }}'>Page one</a></li> 
      <li><a ng-href='{{ "/course/" + course.id + "/chatRoom" }}'>Chat Stream</a></li>

    </ul>

  </div>



</div>
<div style="clear: both;"></div>
