@()

<div class="subheader-course" >

  <div class="course-navbar">
    <div class="container">
      <div class="book-title">
        <div class="media">
          <span class="pull-left">
            <course-cover-logo course="course" class="media-object" im-default="true"></course-cover-logo>
          </span>
          <div class="media-body">
            <h1 class="media-heading">{{ course.coverMatter.title || 'Untitled Course' }}</h1>
          </div>
        </div>
      </div>
      <ul class="course-nav">
        <li><a ng-href='{{ "/course/" + course.id }}'>Cover &amp; membership</a></li>
        <li><a ng-href='{{ "/course/" + course.id + "/activity" }}'>Newsfeed</a></li>      
        <li><a ng-href='{{ "/course/" + course.id + "/view/lookup?topic=page one" }}'>Page one</a></li> 
        <li><a ng-href='{{ "/course/" + course.id + "/myDrafts" }}'>Drafts</a></li>
        <li class="pull-right visible-xs visible-sm"><a class="btn btn-command" ng-href='{{ "/course/" + course.id + "/chatRoom" }}'><img src='/assets/images/sq_chat.png' alt="Chat pane" /></a></li>
        <li class="pull-right visible-md visible-lg"><button class="btn btn-command" course-chat-toggle ng-click="toggleChat()"><img src='/assets/images/sq_chat.png' alt="Chat pane" /></button></li>
      </ul>
    </div>
  </div>



</div>
<div style="clear: both;"></div>
