@()

<div class="add-content" ng-controller="Impressory.Controllers.AddContent.TopLevel">
  <div class="container">
    <div class="row-fluid">
    
      <div class="span3">
        <h4>Category</h4>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="(category, items) in categories" ng-class="{ 'active' : selection.category == category }">
            <a href="#" ng-click="setCategory(category)">{{category}}</a>
          </li>
        </ul>
      </div>
      
      <div class="span3">
        <h4>Item</h4>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="choice in choices" ng-class="{ 'active' : selection.kind == choice.kind }">
            <a href="#" ng-click="setKind(choice.kind)">{{choice.text}}</a>
          </li>
        </ul>
      
      </div>
      
      <div class="span6">      
        <div ng-switch="selection.kind">

          <div ng-switch-when="web page">
            @snipAddWebPage()
          </div>
          <div ng-switch-when="sequence">
            @snipCreateSequence()
          </div>
          <div ng-switch-when="YouTube video">
            @snipAddYouTubeVideo()
          </div>
          <div ng-switch-when="Google Slides">
            @snipAddGoogleSlides()
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>