@(itemType:String)(above: => Html)

@{
/*
 * Note that this expects an ancestor controller to have a 
 * panels.closeAddContent() method.
 */
}
<div class="form" ng-controller="Impressory.Controllers.AddContent.GenericAddForm">
  @above

  <div class="form-group">
    <label>Name</label> <input class="form-control" type="text" ng-model="toAdd.entry.title" placeholder="Optional" />
  </div>
  
  <div class="form-group">
    <label>Note</label>
    <textarea class="form-control" ng-model="toAdd.entry.note" placeholder="Optional"></textarea>
  </div>
  
  <div class="form-group" style="margin-bottom: 10px;">
    <div ng-show="tagsVisible">
      <ce-edit-tags entry="entry"></ce-edit-tags>
    </div>
    <button class="btn btn-link" ng-hide="tagsVisible" ng-click="tagsVisible = !tagsVisible">show tags</button>
    <button class="btn btn-link" ng-show="tagsVisible" ng-click="tagsVisible = !tagsVisible">hide tags</button>
  </div>
  
  <div ng-repeat="error in errors" class="alert alert-error">{{ error }}</div>
  
  <div class="form-group">
    <button class="btn btn-default" ng-click="panels.closeAddContent()">Cancel</button>
    <button class="btn btn-primary" ng-click="submit('@itemType')">Add</button>
  </div>
</div>
