.list-entries .rows {

  .updated, .ab-label, .kind, .site {
    color: #aaa;
    font-size: 85%;
    line-height: 85%;
  }
  .entry-id, .created {
    color: #aaa;
    font-size: 85%;   
  }
  
  .row-entry {
    padding: 5px;
    
    .adj:after,.noun:after,.topic:after {
        content: ",";
    }
    .adj:last-child:after,.noun:last-child:after,.topic:last-child:after {
        content: "";
    }
    .tags {
      font-size: 12px;
    }    
    
  }
  .row-entry:nth-child(even) {
    background-color: #fbfbfb;
  }
  
  margin: 20px;
  
}

.list-entries .columns {
  
  .column-entry {
  
    border: 1px solid #eee;
    margin: 20px;

    .header {
      background-color: white;
      font-size: 12px;
      .who .avatar img {
        height: 24px;
        width: 24px;
      }
      padding: 5px;
    }
  
    .body {
      padding: 10px;
      
      .tags {
        font-size: 12px;
      }
    }
    .footer {
      background-color: #fafafa;
      font-size: 12px;
      padding: 5px;    
    }
  
  
  }
  

}