.list-entries {

  max-height: 50%;
  overflow-y: auto;

  .updated, .ab-label, .kind, .site {
    color: #aaa;
    font-size: 85%;
    line-height: 85%;
  }
  .entry-id, .created {
    color: #aaa;
    font-size: 85%;   
  }
  
  .entry {
    padding: 5px;
  }
  .entry:nth-child(even) {
    background-color: #fbfbfb;
  }
  
}