.list-entries .rows {

  .updated, .ab-label, .kind, .site {
    color: #aaa;
    font-size: 85%;
    line-height: 85%;
  }
  .entry-id, .created {
    color: #aaa;
    font-size: 85%;   
  }
  
  .entry {
    padding: 5px;
    
    .adj:after,.noun:after,.topic:after {
        content: ",";
    }
    .adj:last-child:after,.noun:last-child:after,.topic:last-child:after {
        content: "";
    }
    
  }
  .entry:nth-child(even) {
    background-color: #fbfbfb;
  }
  
}

.list-entries .columns {
  columns: 1;
  -moz-columns: 1;
  -webkit-columns: 1;
  
  max-width: 800px;
  min-width: 400px;
  
  .entry {
  
    border: 1px solid #eee;
    margin: 20px;

    .header {
      background-color: #fafafa;
      font-size: 12px;
      .who .avatar img {
        height: 24px;
        width: 24px;
      }
      padding: 5px;
    }
  
    .body {
      padding: 10px;
      
      .tags {
        font-size: 12px;
      }
    }
    .footer {
      background-color: #fafafa;
      font-size: 12px;
      padding: 5px;    
    }
  
  
  }
  

}