
<script type="text/ng-template" id="directive_listEntries.html">
  @views.html.partials.components.snipListEntries()
</script>

<script type="text/ng-template" id="directive_headerFront.html">
  @views.html.partials.headerFront()
</script>

<!-- Course -->
<script type="text/ng-template" id="directive_subheaderCourse.html">
  @views.html.partials.course.subheadCourse()
</script>

<!-- Chat -->
<script type="text/ng-template" id="directive_chat_view_events.html">
  @views.html.partials.components.snipViewEvents()
</script>
<script type="text/ng-template" id="directive_chat_form.html">
  @views.html.partials.components.snipChatForm()
</script>

<!-- ContentEntry -->
<script type="text/ng-template" id="directive_ce_vote.html">
  @views.html.partials.components.snipVoteOnEntry()
</script>
<script type="text/ng-template" id="directive_ce_show_tags.html">
  @views.html.partials.components.snipShowTags()
</script>
<script type="text/ng-template" id="directive_ce_edit_tags.html">
  @views.html.partials.viewcontent.directiveEditTags()
</script>
<script type="text/ng-template" id="directive_ce_edit_settings.html">
  @views.html.partials.viewcontent.directiveEditSettings()
</script>

<script type="text/ng-template" id="directive_ce_edit_content.html">
  @views.html.partials.viewcontent.directiveEditContent()
</script>
<script type="text/ng-template" id="directive_ce_render_entry_full.html">
  @views.html.partials.viewcontent.directiveRenderEntryFull()
</script>
<script type="text/ng-template" id="directive_ce_add_content.html">
  @views.html.partials.addcontent.directiveAddContent()
</script>

<script type="text/ng-template" id="directive_ce_top_nav.html">
  @views.html.partials.viewcontent.directiveTopNav()
</script>

