
<script type="text/ng-template" id="directive_listEntries.html">
  @views.html.partials.components.snipListEntries()
</script>

<script type="text/ng-template" id="directive_headerFront.html">
  @views.html.partials.headerFront()
</script>

<!-- Course -->
<script type="text/ng-template" id="directive_subheaderCourse.html">
  @views.html.partials.course.subheadCourse()
</script>

<!-- Chat -->
<script type="text/ng-template" id="directive_chat_view_events.html">
  @views.html.partials.components.snipViewEvents()
</script>
<script type="text/ng-template" id="directive_chat_form.html">
  @views.html.partials.components.snipChatForm()
</script>


