@(title: String)(content: Html)
<!DOCTYPE html>
<html>

    <!-- Boostrap 3 -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>

    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    
    <title>@title</title>
    <div class="full-height" ng-controller="ErrorController">
      <div ng-show="false">
        This site requires Javascript.
      </div>
      
      <div ng-show="error">
        <ng-include src="'client-error-template'"></ng-include>
      </div>
      <div ng-hide="error" class="full-height">@content</div>
    </div>

    <!-- JQuery, required for Bootstrap -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

    <!-- Bootstrap -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>

    <!-- Angular.js -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))'></script>

    <!-- Marked, used for Markdown -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("marked.js"))'></script>

    <!-- The client-side custom error pages -->
    <script type="text/ng-template" id="client-error-template">
      <div ng-switch="error.status">
        <div ng-switch-when="404">
          @views.html.partials.xErrorNotFound()
        </div>
        <div ng-switch-when="403">
          @views.html.partials.xErrorNotFound()
        </div>
        <div ng-switch-default>
          @views.html.partials.xErrorInternalError()
        </div>
      </div>
    </script>
    
    <!-- Preload directive templates -->
    @includeDirectives()
    
    <!-- Impressory, via require.js -->
    <script>
      @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
    </script>
    <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>

</html>
