@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">    
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/spacelab/bootstrap.no-icons.min.css" rel="stylesheet">

    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    
    <title>@title</title>
    <div ng-app="impressory" class="full-height" ng-controller="ErrorController">
      <div ng-show="false">
        This site requires Javascript.
      </div>
      
      <div ng-show="error">
        <ng-include src="'client-error-template'"></ng-include>
      </div>
      <div ng-hide="error" class="full-height">@content</div>
    </div>
    
    <!-- JQuery, required for Bootstrap -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <!-- Angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-sanitize.min.js"></script>

    <!--  Reveal.js, used for ad-hoc presentations -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/2.3/js/reveal.min.js"></script>

    <!-- Pagedown, used for Markdown -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
    
    <!-- d3.js, used for charting -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js"></script>
    
    <!-- Impressory, via require.js -->
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
    
    
    <!-- The client-side custom error pages -->
    <script type="text/ng-template" id="client-error-template">
      <div ng-switch="error.status">
        <div ng-switch-when="404">
          @views.html.partials.xErrorNotFound()
        </div>
        <div ng-switch-when="403">
          @views.html.partials.xErrorNotFound()
        </div>
        <div ng-switch-default>
          @views.html.partials.xErrorInternalError()
        </div>
      </div>
    </script>
    
</html>
